.about__socialNetworks {
    grid-area: networks;  
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0 auto;
    width: 100%;
    
    .socialNetwork__card {
        @include flexCenter;
        width: 160px;
        height: 100px;
        background: $yellow;
        text-align: center;
        transform: scaleY(0);
        transform-origin: center;
        transition: 0.2s ease;

        a {
            font-size: 1.2rem;

            i {
              color: $grey;
            }
        }

        &:hover {
          background: $yellow-light;
        }
    }

    //ANIMATION
    @mixin networkAnim($timeout) {
      animation: pop 1s forwards;
      animation-delay: $timeout;

    }
    @keyframes pop {
      to {
        transform: scaleY(1);
      }
    }

    .socialNetwork__card:nth-child(1) {
      @include networkAnim(.4s);
    }

    .socialNetwork__card:nth-child(2) {
      @include networkAnim(.8s);
    }

    .socialNetwork__card:nth-child(3) {
      @include networkAnim(1.2s);
    }

    .socialNetwork__card:nth-child(4) {
      @include networkAnim(1.6s);
    }
}