@use "../../styles/settings" as *;

.navigation__item {
  font-size: 1.3rem;
  position: relative;
  transition: 0.2s ease;

  &:hover {
    background-color: $grey-light;

    .navigation__icon {
      transform: translate(3px, 3px);
    }
  }

  .navigation__link {
    background-color: $grey;
    color: $white;

    .navigation__pageName {
      margin-left: 4rem;   
    }
  }

  .navigation__link--active {
    background-color: $yellow;
    color: $grey;
    transition: 0.2s ease;
  }
}