@use "../../../styles/settings" as *;

.network__bubble {
    font-size: 1.5rem;
    background: $white;
    color: $grey;
    border-radius: 50%;
    padding: .5rem 0.8rem;
    transition: .3s;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
        background: $white-light;
    }
}