@use "../../styles/settings" as *;

.page__knowledge {
  .knowledge__content {
    position: relative;
    overflow: hidden;
    display: flex;
    // justify-content: start;
    column-gap: 50px;

    .knowledge__languages, .knowledge__frameworks, .knowledge__experiences, .knowledge__miscellaneous, .knowledge__hobbies {
      background: $white;
      padding: .8rem;
    }

    .skill__languages { grid-area: LANGUAGES; }

    .skill__frameworks { grid-area: FRAMEWORKS; }

    .knowledge__experiences {
      grid-area: EXP;
      margin: 0 0 .5rem .5rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 10% 1fr 1fr;
      grid-template-areas:
        "1"
        "2"
        "3";

      h3 {
        grid-area: 1;
      }

      h4 {
        font-size: 1.1rem;
        color: $grey;
      }

      h5 {
        color: $grey;
        padding: 0.5rem 0 0.5rem 1rem;
      }

      p {
        text-align: justify;
        padding: 0 1rem;
      }

      .exp-1 {
        grid-area: 2;
      }

      .exp-2 {
        grid-area: 3;
      }
    }

    .knowledge__hobbies {
      grid-area: HOBBIES;
      padding-left: 1.5rem;

      ul {
        height: 80%;
        display: grid;

        li {
          i {
            position: absolute;
            color: $grey;
          }

          span {
            position: absolute;
            transform: translateX(2.2rem);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .knowledge__content {
    h3 {
      font-size: 1.2rem !important;
    }

    .knowledge__skill {
      padding-top: .2rem !important;
    }

    p {
      font-size: .8rem;
    }

    .knowledge__miscellaneous, .knowledge__hobbies {
      font-size: .8rem;
    }
  }
}

@media screen and (max-width: 850px) {
  .knowledge__content {
    h4 {
      font-size: .9rem !important;
    }

    h5 {
      font-size: .6rem !important;
      padding: .2rem 1rem !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .knowledge__content {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 180px 180px !important;

    .knowledge__technologies {
      grid-area: 1 !important;
    }

    .knowledge__experiences {
      grid-area: 2 !important;
      margin-left: 0 !important;
    }

    .knowledge__miscellaneous {
      grid-area: 3 !important;
      margin-right: 0 !important;
    }

    .knowledge__hobbies {
      grid-area: 4 !important;
      margin-top: .5rem !important;
    }
  }
}