.page__home {
  .home__content {
    background: url(../../media/background.jpg) no-repeat center top/cover;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .home__splash {
      display: grid;
      place-items: center;

      h1 {
        font-size: 5rem;
        font-weight: $light;
        color: $color-2;
      }

      h2 {
        font-size: 3.5rem;
        font-weight: $light;
        color: $color-2;
        margin: 1.5rem;
      }

      .button__pdf {
        margin-top: 5rem;
        a {
          font-size: 1.5rem;
          font-weight: $bold;
          text-transform: uppercase;
          background: $color-3;
          padding: 1rem 3rem;
          transition: 0.2s ease;

          &:hover {
            background: $color-4;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .home__content {
    margin: 0 !important;
  }
}

@media screen and (max-width: 580px) {
  .home__content {
    h1 {
      font-size: 3rem !important;
    }

    h2 {
      font-size: 1.8rem !important;
    }
  }
}