.page__home {
  .home__content {
    @include flexCenter;
  }
}

@media screen and (max-width: 850px) {
  .home__content {
    margin: 0 !important;
  }
}

@media screen and (max-width: 580px) {
  .home__content {
    h1 {
      font-size: 3rem !important;
    }

    h2 {
      font-size: 1.8rem !important;
    }
  }
}