.page__portfolio {
  .portfolio__content {
    background: url(../../media/background.jpg) no-repeat center top/cover;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 95%;
    grid-template-rows: 150px 1fr;
    grid-template-areas:
      "1"
      "2";

    .portfolio__selector {
      grid-area: 1;
      display: flex;
      width: 100%;
      margin: 2rem auto;
      background: $color-2;
      
      .selector__button {
          color: $color-1;
          font-size: 1.5rem;
          font-weight: $bold;
          text-transform: uppercase;
          padding: 0 1rem;
          flex: 1;
          z-index: 2;
          cursor: pointer;
          @include verticalCenter;

          input[type="radio"] {
              visibility: hidden;
              position: relative;

              &:before {
                  content: '';
                  visibility: visible;
                  position: absolute;
                  top: -4px;
                  left: -12px;
                  height: .9rem;
                  width: .9rem;
                  border-radius: 50%;
                  border: 2px solid $color-3;
                  transition: 0.3s;
              }

              &:after {
                  content: '';
                  visibility: visible;
                  position: absolute;
                  top: -4px;
                  left: -12px;
                  height: .9rem;
                  width: .9rem;
                  border-radius: 50%;
                  transition: 0.3s;
                  background: $color-3;
                  transform: scale(0);
                  transform-origin: center;
              }
          }
      }

      .selector__button--selected {
        background-color: $color-3;
      }
    }

    .portfolio__projects {
      grid-area: 2;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media (max-width: 650px) and (min-width: 521px) {
  .portfolio__content {
    .project {
      width: 49% !important;

      i {
        font-size: 1rem;
      }
    }

    .info-content {
      width: 100% !important;
    }
  }
}

@media (max-width: 520px) {
    .portfolio__selector {
        display: none !important;
    }
    .portfolio__content {
        grid-template-rows: 1fr !important;

        .project {
            grid-template-rows: 30px 40px 80px 40px !important;
            width: 98% !important;

            img {
                height: 100% !important;
            }
        }
    }
}