@use "../../07-styles/settings" as *;

.project__modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.507);
    animation: popup .3s ease forwards;
    transform-origin: center;

    .modal__content {
        position: relative;
        top: 25%;
        width: 600px;
        margin: 0 auto;
        color: $white;
        background: $grey;
        padding: 2rem;
        box-shadow: 0 10px 10px #333;
        animation: popup .6s ease forwards;
        transform: scale(0);
        transform-origin: center;

        @keyframes popup {
            to {
                transform: scale(1);
            }
        } 

        header {
            display: flex;
            justify-content: space-around;
            margin: 1rem 0;
        }

        h2 {
            text-align: left;
            margin-bottom: 1rem;
        }

        button {
            cursor: pointer;
            color: $grey;
            background: $white;
            transition: .2s;

            a {
                display: block;
                height: 100%;
                width: 100%;
                padding: 1rem;
            }
        }

        p {
            text-align: justify;
            padding-bottom: 1rem;
        }

        .return {
            margin: 0 auto;
        }
    }
}