@use "../../07-styles/settings" as *;

.progress__block {
    .progress_range {
        font-size: .65rem;
        display: flex;
        justify-content: space-between;
        color: $grey;

        dt, dd {
            width: 36%;

            &:nth-child(2) {
                text-align: center;
                width: 20%;
            }

            &:nth-child(3) {
                text-align: right;
                width: 44%;
            }

            &:nth-child(2):before,
            &:nth-child(3):before {
                content: '';
                background: rgba(0, 0.7, 70.4, 0.5);
                position: absolute;
                height: 146px;
                width: 1px;
                transform: translate(9px, 19px);
            }
        }
    }
}