@use "../../07-styles/settings" as *;

.socialNetwork__card {
    @include flexCenter;
    width: 160px;
    height: 100px;
    background: $yellow;
    text-align: center;
    transform: scaleY(0);
    transform-origin: center;
    transition: 0.2s ease;

    a {
        font-size: 1.2rem;

        i {
          color: $grey;
        }
    }

    &:hover {
      background: $yellow-light;
    }
}