@use "../../07-styles/settings" as *;

.about__socialNetworks {
    grid-area: networks;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    //ANIMATION
    @mixin networkAnim($timeout) {
      animation: pop 1s forwards;
      animation-delay: $timeout;
    }
    @keyframes pop {
      to {
        transform: scaleY(1);
      }
    }

    .socialNetwork__card:nth-child(1) {
      @include networkAnim(.4s);
    }

    .socialNetwork__card:nth-child(2) {
      @include networkAnim(.8s);
    }

    .socialNetwork__card:nth-child(3) {
      @include networkAnim(1.2s);
    }

    .socialNetwork__card:nth-child(4) {
      @include networkAnim(1.6s);
    }
}